<h1>Create a Pokemon!</h1>

<form action="/pokemon" method="post">
    Name: <input type="text" name="name"><br>
    Type: <input type="text" name="type"><br>
    Photo: <input type="text" name="photo"><br>

    <input type="submit" value="Register">
</form>