<h1>Register</h1>

<form action="/user" method="post">
    Username: <input type="text" name="username"><br>
    Contraseña: <input type="text" name="password"><br>
    <input type="submit" value="Register">
</form>