<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder Pokemon API Server</title>
</head>
<body>
    <img src="/assets/pokemon_logo.png" width="200">
    <br>
    <a href="/pokemon">Pokedex</a> | <a href="/pokemon/create">Create a Pokemon</a>
     | <a href="/user">Register</a>
    {{{ body }}}
</body>
</html>